<form #editAboutForm="ngForm" *ngIf="aboutLoaded" (ngSubmit)="onSubmit(editAboutForm.form)" novalidate>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span>ایجاد</span>
        </div>
        <div class="panel-body form-horizontal">
            <div class="form-group">
                <label for="Name" class="col col-md-2 control-label">نام</label>
                <div class="col-md-10">
                    <!--<label class="control-label"><i class="fa fa-user" aria-hidden="true"></i>Name</label>-->
                    <input type="text" class="form-control" [(ngModel)]="aboutDetails.Name" name="Name" #Name="ngModel" required pattern=".{5,50}" />
                    <div *ngIf="Name.touched && Name.errors">
                        <label class="text-danger" *ngIf="Name.errors.required">
                            نام را وارد کنید
                        </label>
                        
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="Address" class="col col-md-2 control-label">آدرس</label>
                <div class="col-md-10">
                    <!--<label class="control-label"><i class="fa fa-user" aria-hidden="true"></i>Name</label>-->
                    <input type="text" class="form-control" [(ngModel)]="aboutDetails.Address" name="Address" #Address="ngModel" required pattern=".{5,50}" />
                    <div *ngIf="Address.touched && Address.errors">
                        <label class="text-danger" *ngIf="Address.errors.required">
                            نام را وارد کنید
                        </label>
                        
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="Tel" class="col col-md-2 control-label">شماره تماس</label>
                <div class="col-md-10">
                    <!--<label class="control-label"><i class="fa fa-user" aria-hidden="true"></i>Name</label>-->
                    <input type="text" class="form-control" [(ngModel)]="aboutDetails.Tel" name="Tel" #Tel="ngModel" required pattern=".{5,50}" />
                    <div *ngIf="Tel.touched && Tel.errors">
                        <label class="text-danger" *ngIf="Tel.errors.required">
                            نام را وارد کنید
                        </label>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-danger" (click)="onBack()">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Back
            </button>

            <button type="button" [disabled]="!editAboutForm.form.valid" class="btn btn-default"
                    (click)="updateAbout(editAboutForm)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Update
            </button>
            <button [disabled]="!editAboutForm.valid"
                    type="submit" class="btn btn-primary">
                ثبت
            </button>
        </div>
    </div>

</form>