<form #editInvoiceForm="ngForm" *ngIf="invoiceLoaded" (ngSubmit)="onSubmit(editInvoiceForm.form)" novalidate>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span>ایجاد</span>
        </div>
        <div class="panel-body form-horizontal">

            <div class="form-group">
                <label for="CreatedDate" class="col col-md-3 control-label">تاریخ ثبت</label>
                <div class="col-md-9">
                    <input ngControl="CreatedDate" id="CreateDate" required
                           #CreatedDate="ngModel"
                           type="text" class="form-control"
                           [(ngModel)]="invoiceModel.CreatedDate"
                           name="CreateDate" />
                    <div *ngIf="CreatedDate.touched && CreatedDate.errors">
                        <label class="text-danger" *ngIf="CreatedDate.errors.required">
                            تاریخ را وارد کنید
                        </label>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="Description" class="col col-md-3 control-label">توضیحات </label>
                <div class="col-md-9">
                    <input ngControl="Description" id="Description" required
                           #Description="ngModel"
                           type="text" class="form-control"
                           [(ngModel)]="invoiceModel.Description"
                           name="Description" />
                    <div *ngIf="Description.touched && Description.errors">
                        <label class="text-danger" *ngIf="Description.errors.required">
                            نام را وارد کنید
                        </label>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="Reciver" class="col col-md-3 control-label">تحویل گیرنده</label>
                <div class="col-md-9">
                    <input ngControl="Reciver" id="Reciver" required
                           #Reciver="ngModel"
                           type="text" class="form-control"
                           [(ngModel)]="invoiceModel.Reciver"
                           name="Reciver" />
                    <div *ngIf="Reciver.touched && Reciver.errors">
                        <label class="text-danger" *ngIf="Reciver.errors.required">
                            تحویل دهنده را وارد کنید
                        </label>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="Supplier" class="col col-md-3 control-label">نحوه پرداخت</label>
                <div class="col-md-9">
                    <select class="form-control" [(ngModel)]="paymentSelected" name="PaymentType" (ngModelChange)="onChange($event)">
                        <option *ngFor="let payment of invoiceModel.PaymentTypes" [ngValue]="payment.Id">{{payment.Name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="BillType" class="col col-md-3 control-label">نوع خروج کالا :</label>
                <div class="col-md-9">
                    <select class="form-control" [(ngModel)]="billTypeSelected" name="billType" (ngModelChange)="onChanged($event)">
                        <option *ngFor="let billType of invoiceModel.BillTypes" [ngValue]="billType.Id">{{billType.Name}}</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-danger" (click)="onBack()">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>انصراف
            </button>

            <button type="button" [disabled]="!editInvoiceForm.form.valid" class="btn btn-default"
                    (click)="updateInvoice(editInvoiceForm)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>ثبت
            </button>

        </div>
    </div>

</form>

<pm-invoiceItem></pm-invoiceItem>
