<div @flyInOut="'in'">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <!--<buySlipItem-add (clicked)="onClicked($event)"></buySlipItem-add>-->

            <a class="btn btn-success"  [routerLink]="['../addBuySlipItem']" >
            <span class="glyphicon glyphicon-plus"></span>
            </a>

            <button type="button" [disabled]="isCreated" class="btn btn-default"
                    (click)="insert()">
                <!--<i class="fa fa-pencil-square-o" aria-hidden="true"></i>ثبت-->
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>

        <div class="panel-body">
            <table class="table table-hover table-bordered table-striped">
                <tr>
                    <td>شناسه</td>
                    <td>ملبغ</td>
                    <td>تعداد</td>
                    <td>عملیات</td>

                </tr>
                <tr *ngFor="#buySlipItem of buySlipItems">
                    <td>{{buySlipItem.Id}}</td>
                    <td>{{buySlipItem.Price}}</td>
                    <td>{{buySlipItem.Quantity}}</td>
                    <td>
                        <text>
                            <a title='جزئیات' (click)="viewDetails(buySlipItem.Id)"> <span class='glyphicon glyphicon-search'> </span> </a>
                            <a [routerLink]="['/updateBuySlipItem',buySlipItem.Id]" title='ویرایش'> <span class='glyphicon glyphicon-edit'> </span> </a>
                            <a title='حذف' (click)="delBuySlipItem(buySlipItem)"> <span class='glyphicon glyphicon-trash'> </span> </a>
                        </text>
                </tr>
            </table>
            <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" class="pagination-sm"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
        </div>
        <div class="panel-footer"></div>
    </div>
</div>

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
       (onOpen)="opened()" #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title" *ngIf="selectedProductLoaded">{{buySlipItemDetails.id}} details</h4>
    </modal-header>
    <modal-body *ngIf="selectedBuySlipItemLoaded">
        <form ngNoForm method="post">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label"><i class="fa fa-user" aria-hidden="true"></i>Name</label>
                        <input type="text" class="form-control" [(ngModel)]="buySlipItemDetails.Price" disabled />
                    </div>
                </div>
            </div>
        </form>
    </modal-body>
    <modal-footer [show-default-buttons]="false">
        <button class="btn btn-danger btn-sm pull-right" (click)="modal.close()">
            <i class="fa fa-times" aria-hidden="true"></i>Dismiss
        </button>
        <ng2-slim-loading-bar></ng2-slim-loading-bar>
    </modal-footer>
</modal>
