<form #f="ngForm" (ngSubmit)="onSubmit(f.form)">
    <div class="panel panel-primary">
        <div class="panel-heading"></div>
        <div class="panel-body">

            <div class="panel-body form-horizontal">
                <div class="form-group">
                    <label for="OldPassword" class="col col-md-2 control-label">رمز عبور قبلی</label>
                    <div class="col-md-10">
                        <input ngControl="OldPassword" id="OldPassword" required autofocus
                               #OldPassword="ngModel"
                               (OldPassword)="log(OldPassword)"
                               minlenght="3"
                               type="password" class="form-control"
                               [(ngModel)]="changePasswordBindingModel.OldPassword"
                               name="OldPassword" />
                        <div *ngIf="OldPassword.touched && OldPassword.errors">
                            <label class="text-danger" *ngIf="OldPassword.errors.required">
                                ایمیل را وارد کنید
                            </label>
                            <label class="text-danger" *ngIf="OldPassword.errors.minlength">
                                Email should be minimum {{ OldPassword.errors.minlength.requiredLength }} characters.
                            </label>
                        </div>
                    </div>
                </div>

                <div class="panel-body form-horizontal">
                    <div class="form-group">
                        <label for="NewPassword" class="col col-md-2 control-label">رمز عبور جدید</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" [(ngModel)]="changePasswordBindingModel.NewPassword"
                                   name="NewPassword" #NewPassword="ngModel" required />
                            <div *ngIf="NewPassword.touched && NewPassword.errors">
                                <label class="text-danger" *ngIf="NewPassword.errors.required">
                                    رمز عبور جدید را وارد کنید
                                </label>
                                <label class="text-danger" *ngIf="NewPassword.errors.minlength">
                                    Email should be minimum {{ NewPassword.errors.minlength.requiredLength }} characters.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body form-horizontal">
                    <div class="form-group">
                        <label for="ConfirmPassword" class="col col-md-2 control-label">تکرار رمز عبور جدید</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" [(ngModel)]="changePasswordBindingModel.ConfirmPassword"
                                   name="ConfirmPassword" #ConfirmPassword="ngModel" required />
                            <div *ngIf="ConfirmPassword.touched && ConfirmPassword.errors">
                                <label class="text-danger" *ngIf="ConfirmPassword.errors.required">
                                    تکرار رمز عبور را وارد کنید
                                </label>
                                <label class="text-danger" *ngIf="ConfirmPassword.errors.minlength">
                                    Email should be minimum {{ ConfirmPassword.errors.minlength.requiredLength }} characters.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button [disabled]="!f.valid"
                                type="submit" class="btn btn-primary">
                            ثبت
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</form>





