@model Repository.DomainModel.AppUser.ApplicationUser

<div class="panel panel-info">

    <div class="panel-heading">
        جزئیات
    </div>
    <div class="panel-body">
        <div>
            <div>                
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                </dl>
            </div>
            <h4>لیست نقش ها برای این کاربر</h4>
            @if (ViewBag.RoleNames.Count == 0)
            {
                <hr />
                <p>نقشی برای این کاربر یافت نشد.</p>
            }

            <table class="table">

                @foreach (var item in ViewBag.RoleNames)
                {
                    <tr>
                        <td>
                            @item
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="panel-footer panel-info">
        <div id="progress" style="display: none" class="container">
            <img src="@Url.Content("~/Content/web/flat/loading-image.gif")" alt="در حال بار گذاری ..." />
        </div>
        <button class="btn btn-warning" data-dismiss="modal">بستن</button>

    </div>
</div>


