@model IEnumerable<Repository.DomainModel.AppUser.ApplicationUser>

@{
    ViewBag.Title = "Index";
    var grid = new WebGrid(source: Model);
}

<div id="myModal" class="modal fade in" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <a class="btn btn-success" data-modal="" href="/UsersAdmin/Create" id="btnCreate">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    <div class="panel-body">
        <p>...</p>
        @grid.GetHtml(tableStyle: "table table-hover table-bordered table-striped",
    columns: grid.Columns(
        grid.Column(columnName: "Id", header: "شناسه"),
        grid.Column(columnName: "UserName", header: "نام کاربری"),
        grid.Column(header: "عملیات", format: @<text>
            @Html.Raw("<a data-modal='' href='/UsersAdmin/Details/" + item.Id + "' id='" + item.Id + "' title='جزئیات'> <span class='glyphicon glyphicon-search'> </span> </a>")
            @Html.Raw("<a data-modal='' href='/UsersAdmin/Edit/" + item.Id + "' id='" + item.Id + "' title='ویرایش'> <span class='glyphicon glyphicon-edit'> </span> </a>")
            @Html.Raw("<a data-modal='' href='/UsersAdmin/Delete/" + item.Id + "' id='" + item.Id + "' title='حذف'> <span class='glyphicon glyphicon-trash'> </span> </a>")
        </text>)))
    </div>
    <!-- Table -->
    <div class="panel-footer"></div>
</div>
<script src="~/Scripts/site/bootstrap-ajax-modal.js"></script>
