@{
    if (ViewBag.Count == "true")
    {
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a href="#" class="btn btn-xs btn-warning">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                </a>
            </li>
        </ul>

    }
}

