@model Repository.DomainModel.Repository.RepositoryType

@{
    ViewBag.Title = "Delete";
}
<div class="panel panel-danger">
    <!-- Default panel contents -->
    <div class="panel-heading">
        آیا مطمئن هستید؟
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>
    </div>
    <div class="panel-footer">
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div class="container">
                <input type="submit" value="حذف" class="btn btn-danger  col-md-3" />
                @Html.ActionLink("بازگشت", "Index", null, new { @class = "btn btn-default  col-md-3" })
            </div>
        }
    </div>
</div>
